[Unit]
Description=ydotool virtual input daemon
Documentation=man:ydotoold(8)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
